@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    overflow-x: hidden;
    margin: auto;
    font-family: 'Poppins';
}

/* navbar */
.navbar {
    background-color: #0D0D0D;
    width: 100%;
    height: 200%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo image */
.navbar > img{
    height: 40px;
    padding-left: 50px;
}
 

.li-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    color: #ffffff; 
    
}

.grow-list{
    display: flex;
    flex: 2;
    justify-content: space-around;

}

/* login button */
.navbar > button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 13px 28px;
    background-color: #1B98F5;
    color: #ffffff;
    margin-right: 80px;
}

.main{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: #0D0D0D;
    color: #ffffff;
    height: 600px;
    width: 100%;
}

/* left-section */
.left-section{
    width: 50%;
    position: relative;
    left: 80px;
    top: 50px;
}

.left-section > h1{
    font-size: 60px;
    width: 600px;
    font-weight: 500;
}

.left-section > h1 > span{
    color: #1B98F5;
    font-size: 60px;
    font-weight: 500;
}

.left-section > p{
    font-size: 20px;
    width: 450px;
    margin-top: 40px;
}

.left-section > button{
    position: relative;
    top: 50px;
    margin: 10px;
}

.left-section > button:first-of-type{
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #1B98F5;
    color: #ffffff;
}

.left-section > button:last-child{ 
    padding: 12px 28px;
    border-radius: 30px;
    border: 1px solid #ffffff; 
    background-color: #0D0D0D; 
    color: #ffffff;
}

/* right-section */
 .right-section > img{
    height: 500px;
    position: absolute;
    right: 270px;
    top: 150px;
} 

/* logo images */
.logos{
    display: flex;
    justify-content: space-evenly;
    background-color: #1a1d1f;
    padding: 40px;
    height: 115px;
}

/* service */
.service{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.provide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.provide > h1{
    font-size: 50px;
    font-weight: 500;
}

.provide > p{
    width: 400px;
    text-align: center;
}

/* service-img */
.service-img{
     display: flex;
     justify-content: space-between;
      margin-top: 150px;
     
}

.service-img > .fast{
    border: 1px solid #808080;
    border-radius: 20px;
    width: 300px;
    height: 320px;
    text-align: center;
    padding-top: 30px;
    
}

.service-img > .fast > img{
    height: 80px;
}

.service-img > .fast > h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.service-img > .fast > p{
    width: 280px;
    text-align: center;
    margin-left: 5px;
    margin-top: 15px;

}


.service-img > .signal{
    border: 1px solid #808080;
    border-radius: 20px;
    width: 300px;
    height: 320px;
    text-align: center;
    padding-top: 30px;
    margin-top: -60px;
    
}

.service-img > .signal > img{
    height: 80px;
}

.service-img > .signal > h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

 .service-img > .heart{
    border: 1px solid #808080;
    border-radius: 20px;
    width: 300px;
    height: 320px;
    text-align: center;
    padding-top: 30px;
    
}

.service-img > .heart > img{
    height: 80px;
}

.service-img > .heart > h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.service-img > .heart > p{
    width: 280px;
    text-align: center;
    margin-left: 5px;
    margin-top: 15px;

}

.business{
    display: flex;
    gap: 60px;
    font-size: 20px;
    font-weight: 200;
}


.support-business{
    margin-top: 120px;
    
}

.support-business h1{
    font-size: 40px;
    font-weight: 500;
} 

.leftside-features{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.feature-items{
    display: flex;
    justify-content: space-between;
     width: 600px;
     border: 1px solid #808080;
     border-radius: 40px;
     padding: 20px 25px;
     font-size: 15px;
     font-weight: 200;
     text-align: center;
}

.leftside-features > .feature-items:nth-child(1){
      background-color: #1B98F5;
      color: #ffffff;
}

.rightside-features{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: center;
    background-color: #111010;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 70px;
    
}

.rightside-items{
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding: 7px 5px;
    width: 400px;
    background-color: #2e2c2c;
   
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #bab5b5;
    margin-top: 7px;
    margin-left: 15px;
}

/* hosting website */

.hosting {
    background-color: #0D0D0D;
    margin-top: 50px;
    color: #ffffff;
}

.website {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.website > img:nth-child(1){
    height: 100px;
}

.website > h1{
    width: 370px;
    text-align: center;
}

.website > img:nth-child(3){
    height: 100px;
}

.plans{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
  padding-bottom: 50px;
}

.regular-plan{
   display: flex;
   flex-direction: column;
   gap: 10px;  
   border: 1px solid #ffffff; 
   padding: 30px;
   border-radius: 20px;
   
   /* background-color: #ffffff; */
   /* color: #1f1f1f; */
}


 .regular-plan div > h3{
     font-size: 20px;
     font-weight: 100;
 }

 .regular-plan div > h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}

.regular-plan div > h2 > span{
    font-size: 20px;
}


.regular-plan div > p{
    width: 280px;
    margin-top: 10px;
    font-size: 13px;
}

.reg-hr{
    margin-top: 10px;
    margin-bottom: 40px;
}



.select-btn{
    width: 250px;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #1B98F5;
    color: #ffffff;
    
}


.standard-plan{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    border: 1px solid #ffffff; 
    padding: 30px;
    border-radius: 20px;
    
    /* background-color: #ffffff; */
    /* color: #1f1f1f; */
 }
 
 
  .standard-plan div > h3{
      font-size: 20px;
      font-weight: 100;
  }
 
  .standard-plan div > h2{
     font-size: 50px;
     font-weight: 500;
     margin-top: 20px;
 }
 
 .standard-plan div > h2 > span{
     font-size: 20px;
 }
 
 
 .standard-plan div > p{
     width: 240px;
     margin-top: 10px;
     font-size: 13px;
 }


 .st-hr{
     margin-top: 10px;
     margin-bottom: 20px;
 }

 
 .st-btn{
     width: 250px;
     font-size: 15px;
     padding: 10px;
     border-radius: 20px;
     margin-top: 15px;
     background-color: #1B98F5;
     color: #ffffff;
     
 } 

 .premium-plan{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    border: 1px solid #ffffff; 
    padding: 30px;
    border-radius: 20px;
    
    /* background-color: #ffffff; */
    /* color: #1f1f1f; */
 }
 
 
  .premium-plan div > h3{
      font-size: 20px;
      font-weight: 100;
  }
 
  .premium-plan div > h2{
     font-size: 50px;
     font-weight: 500;
     margin-top: 20px;
 }
 
 .premium-plan div > h2 > span{
     font-size: 20px;
 }
 
 
 .premium-plan div > p{
     width: 240px;
     margin-top: 10px;
     font-size: 13px;
 }


 .pr-hr{
     margin-top: 10px;
     margin-bottom: 20px;
 }

 
 .pr-btn{
     width: 250px;
     font-size: 15px;
     padding: 10px;
     border-radius: 20px;
     margin-top: 15px;
     background-color: #1B98F5;
     color: #ffffff;
     
 } 

/* customers */
.customers{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 100px;
    gap: 40px;
    justify-content: space-evenly;
}

.customers div > h1{
    width: 400px;
    font-size: 50px;
    font-weight: 500;
}

.customers .satisfaction > p{
    width: 420px;
    margin-top: 20px;
}

.web{
   background-color: #0D0D0D;
   color: #ffffff;
   border-radius: 15px;
   padding: 30px;
}

.web > p{
    width: 470px;
    margin-top: 20px;
    font-size: 20px;
}

.ceo-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ceo-1 > span {
    margin-top: 20px;
}

.speed{
    border: 1px solid #1B98F5;
    border-radius: 15px;
     padding: 10px;
 }
 
 .speed > p{
    width: 450px;
    margin-top: 20px;
    font-size: 20px;
 }

.ceo-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ceo-2 > span {
    margin-top: 20px;
}

.star-img{
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

.star5-img{
    display: flex;
   gap: 10px;
   margin-top: 20px;
}


.domain{
    background-color: #0D0D0D;
    height: 400px;
    color: #ffffff;
    padding-top: 50px;
    margin-top: 10px;
}

.domain > h1{
    width: 800px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-left: 175px;
}



.signup-form{
    border: 1px solid purple;
    width: 800px;
    display: flex;
    justify-content: space-evenly; 
    /* justify-content: center;
    align-items: center; */
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 18px;
    padding: 20px;
   
}

.signup-form > .name{
      border-radius: 20px;
      padding: 10px;
      width: 150px;
}

.signup-form > .email{
    border-radius: 20px;
    padding: 10px;
    width: 150px;
}

.signup-form > .password{
    border-radius: 20px;
    padding: 10px;
    width: 150px;
}

.signup-form > .btn{
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    background-color: #1B98F5;
}

/* footer */
.footer-list{
    display: flex;
    justify-content: space-around;
    background-color: #0D0D0D;
    height: 400px;
    color: #ffffff;
    padding-top: 50px;
}

.items {
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-img{
    display: flex;
    justify-content: flex-start;
    margin-top: -150px;
    margin-left: 90px;
}
 